<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/aboutproject.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/projecticon.png')}}" rel="shortcut icon">
    <title>AboutProject</title>
</head>
<body>
    <h1 class="project">О проекте</h1>
    <h2 class="projectname">"Разработка умной системы для бесконтактного заселения<br> и проживания в отелях"</h2>
    <div class="container">
        <div class="description">
            <div class="describe">
                <h2 class="h">Актуальность и цель работы:</h2>
                <p class="text">— аренда домов является востребованной услугой, и наша задача — упростить и сделать этот процесс более удобным,<br>
                — оптимизировать численность персонала и сократить количество взаимодействий между постояльцем и отелем,<br>
                — разработать интеллектуальную систему для бесконтактного заселения и проживания в отелях.</p>
                <h2 class="h">Задачи работы:</h2>
                <p class="text">— разработать систему на базе Arduino,<br>
                — создать прототип веб-сайта для проверки работы системы,<br>
                — изготовить прототип двери для интеграции с данной системой.</p>
                <h2 class="h">Использованные технологии:</h2>
                <p class="text">— разработка сайта выполнена с использованием HTML, CSS, JavaScript, Python и SQL,<br>
                — для моделирования корпуса применена программа КОМПАС-3D,<br>
                — функционирование механизма замка обеспечено с помощью Arduino.</p>
                <h2 class="h">Аналоги:</h2>
                <p class="text">— Аналогичные системы в данной сфере отсутствуют, однако подобные решения активно применяются в других областях.</p>
                <h2 class="h">Перспективы развития:</h2>
                <p class="text">— широкое внедрение технологии,<br>
                — увеличение масштабов производства.</p>
            </div>
            <div class="photo1">
                <img src="{{ url_for('static', filename='images/python.svg')}}">
                <img src="{{ url_for('static', filename='images/sql.svg')}}">
                <img src="{{ url_for('static', filename='images/arduino.svg')}}">
            </div>
            <div class="photo2">
                <img src="{{ url_for('static', filename='images/html.svg')}}">
                <img src="{{ url_for('static', filename='images/css.svg')}}">
                <img src="{{ url_for('static', filename='images/js.svg')}}">
            </div>
        </div>
    </div>
</body>
</html>