<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/newpassword.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/registericon.png')}}" rel="shortcut icon">
    <title>NewPassword</title>
</head>
<body>
    <div class="wrapper">
        <form action="/newpassword" method="post">
            <h2>Сброс пароля</h2>
            <div class="input-field">
                <input type="text" required>
                <label>Введите свой email</label>
            </div>
            <button type="submit">Отправить письмо</button>
        </form>
    </div>
</body>
</html>