<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/qr-code.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/mainicon.png')}}" rel="shortcut icon">
    <title>Qr-code house rentals</title>
</head>
<body>
    <header>
        <nav class="navigation"> <!-- вверхняя панель -->
            <div class="logo">
                <img class='chatgptlogo' src="{{ url_for('static', filename='images/chatgptlogo.jpg')}}">
                <div class="logotext">
                    <p>QR-CODE<br> 
                    HOUSE<br>
                    RENTALS</p>
                </div>
                <div class='lifesimple'>
                    <p>ДЕЛАЕМ ВАШУ ЖИЗНЬ ПРОЩЕ.</p>
                </div>
            </div>
            <a href="/main"><button class="main">Главная</button></a>
            <a href="/rent" target="_blank"><button class="reserve">Забронировать дом</button></a>
            <a href="/aboutproject" target="_blank"><button class="us">О проекте</button></a>
            <a href="/contacts" target="_blank"><button class="contacts">Контакты</button></a>
            <a href="/login" target="_blank"><button class="register">Личный кабинет</button></a>
        </nav>
    </header>
    <div class="container">
            <section class="maintext">Аренда по qr-code - это просто!</section>
            <section class="doptext">Теперь войти в дом так же просто как арендовать самокат,<br>
                Вам лишь нужно показать qr-code сканеру на двери, и она откроется.</section>
        <article> <!-- блок с информацией слева-->
            <section>
                <a href="/Nightview-Residence" target="_blank"><img class="photohousemain" src="{{ url_for('static', filename='images/housemaingpt1.jpg')}}"></a>
                <figcaption class="housename">Nightview Residence</figcaption>
            </section>
            <section>
                <a href="/Skyline-Retreat" target="_blank"><img class="photohousemain" src="{{ url_for('static', filename='images/housemaingpt2.jpg')}}"></a>
                <figcaption class="housename">Skyline Retreat</figcaption>
            </section>
            <section>
                <a href="/Starlit-Villa" target="_blank"><img class="photohousemain" src="{{ url_for('static', filename='images/housemaingpt3.jpg')}}"></a>
                <figcaption class="housename">Starlit Villa</figcaption>
            </section>
        </article>
    </div>
    <footer> <!--блок с информацией внизу-->
        <p>©Malevin Team</p>
    </footer>
</body>
</html>