<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/register.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/flash.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/registericon.png')}}" rel="shortcut icon">
    <script src="{{ url_for('static', filename='scripts/register.js')}}"></script>
    <title>Registration</title>
</head>
<body>
    <div class="wrapper">
        <div class="flash-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }} show">
                            <span>{{ message }}</span>
                            <span class="close-btn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="/register" method="post">
            <h2>Регистрация</h2>
            <div class="input-field">
                <input type="text" required class="form-control" name="name" id="name">
                <label>ФИО</label>
            </div>
            <div class="input-field">
                <input type="email" required class="form-control" name="email" id="email">
                <label>Введите свой email</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password1" required class="form-control" name="password1">
                <label>Введите пароль</label>

            </div>
            <div class="input-field">
                <input type="password" name="password2" id="password2" required class="form-control">
                <label>Повторите пароль</label>
            </div>
            <label for="remember" class="label">
                <input type="checkbox" id="remember">
                <p class="checkbox" required>Регистрируясь в сервисе, я принимаю <u>условия соглашения</u> и<br>
                <u>политики конфиденциальности.</u></p>
            </label>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>