<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/secondhousereservation.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/flash.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/reservationicon.svg')}}" rel="shortcut icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/reservation.js')}}" defer></script>
    <title>Reservation</title>
</head>
<body id="2">
    <div class="wrapper">
        <div class="flash-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }} show">
                            <span>{{ message }}</span>
                            <span class="close-btn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="/reservationSkyline-Retreat" method="post">
            <h2>Бронирование</h2>
            <div class="input-field">
                <input type="text" required>
                <label>Введите ФИО</label>
            </div>
            <h3>Данные карты для оплаты</h3>
            <div class="input-field">
                <input type="text" id="number" pattern="[0-9]{16}" required>
                <label>Введите номер карты</label>
            </div>
            <div class="input-field">
                <input type="text" id="term" required>
                <label>Срок</label>
            </div>
            <div class="input-field">
                <input type="password" id="CVV" required>
                <label>CVV</label>
            </div>
            <h3>Дата</h3>
            <div class="input-field">
                <input type="date" required>
                <label></label>
            </div>
            <button type="submit" id="reserve">Забронировать</button>
        </form>
    </div>
</body>
</html>